.paginaSorteio {
    form {
        margin-bottom: 2rem;
        select {
            border: 1px solid $preto;
            border-radius: 100px;
            box-shadow: 2px 2px 0 0 $preto;
            color: $cinza_escuro;
            display: block;
            font: 400 14px $fonte;
            padding: 1rem 1.5rem;
            width: 100%;
            &:focus {
                box-shadow: none;
                outline-color: $azul;
            }
        }
        button {
            align-items: center;
            background-color: $laranja;
            border: 1px solid $preto;
            border-radius: 100px;
            box-shadow: 2px 2px 0 0 $preto;
            color: $branco;
            cursor: pointer;
            display: flex;
            flex-flow: row wrap;
            font: 600 16px $fonte;
            justify-content: center;
            margin: 0 auto;
            padding: 1rem 2rem;
            transition: all .25s ease-in-out;
            svg {
                height: auto;
                margin-right: 10px;
                width: 30px;
            }
            &:hover {
                background-color: $azul;
                box-shadow: none;
            }
        }
    }
    p {
        color: $cinza_escuro;
        font: 400 18px $fonte;
        margin: 2.5rem 0;
        text-align: center;
    }
    .resultadoAmigoSecreto {
        border: 3px dashed $laranja;
        border-radius: 20px;
        color: $cinza_escuro;
        font: 400 16px $fonte;
        margin: 2rem auto;
        padding: 2rem 5rem;
        text-align: center;
        .amigoSelecionado {
            color: $laranja;
            display: block;
            font: 600 32px $fonte;
        }
    }
    img {
        height: auto;
        width: 125px;
    }
}