.card {
    align-items: center;
    background: $bege;
    border: 2px solid $preto;
    box-sizing: border-box;
    border-radius: 64px 64px 0px 0px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-top: -3.5rem;
    padding: 80px;
}